body {
  background: #B896F3;
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
}

header {
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  padding-left: 5px;
}

#main {
  border: #FFFFFF solid;
  background: #FFFFFF;
  border-radius: 4px;
  width: 300px;
  height: auto;
  text-align: center;
  left: 40%;
  position: relative;
  padding-top: 20px;


}

#loginButton {
  margin-top: .8rem;
}

input:invalid {
  border: solid 1px red;
  color: red;
}
footer {
  position:fixed;
  bottom: 0; left: 43%;
}